.tab-frame {
  display: flex;
}

.title-input {
  background-color: rgba(0, 0, 0, 0);
}

.tab-title {
  cursor: grab;
}

.tab-title:active {
  cursor: grabbing;
}

.tool-icon {
  margin: 0;
  margin-left: 0.5rem;
}

$dark: 5%;
$backgroundColor: darken(#f5f8fa, $dark);
.menu-frame {
  padding: 0.5rem;
  background-color: $backgroundColor;
}

/** タブメニュー */
.contents-card {
  margin: 0.2rem 0;
  padding: 0.5rem;
  
  cursor: pointer;
 
  background-color: $backgroundColor;
  box-shadow: none;
  border-radius: 0;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.6));


}

.contents-card:hover {
  background-color: darken($backgroundColor, $dark);
}