<div class="row-frame" [ngClass]="{'edithing': edithing}">
  <div class="content-frame">
    <!-- ネスト表現 -->
    <div class="nested" *ngFor="let n of nestedCount| range;"></div>
    <!-- アコーディオン表現 -->
    <div style="font-size: 1.5rem;">
      <ky-icon *ngIf="task.child" class="icon inline-block" [icon]="icons.circle_right"
        (onClick)="showDetail = !showDetail" [rotate]="showDetail ? '90':'none'">
      </ky-icon>
      <!-- フォークアイコン -->
      <ky-icon *ngIf="!task.child" class="icon inline-block" [icon]="icons.fork"
      (onClick)="onForkClick()"></ky-icon>
    </div>
    <!-- エディットアイコン -->
    <div class="icon-area">
      <ng-container *ngIf="edithing">
        <ky-icon *ngIf="task.title" class="icon inline-block" [icon]="icons.close" (onClick)="edithing = false">
        </ky-icon>
      </ng-container>
      <ng-container *ngIf="!edithing">
        <ky-icon class="icon inline-block" [icon]="icons.edit" (onClick)="onEditClick()"></ky-icon>
      </ng-container>
    </div>

    <!-- タスクタイトル -->
    <div class="task-area">
      <ng-container *ngIf="edithing">
        <input #taskInput class="task-form inline-block" [(ngModel)]="task.title" placeholder="テキストを入力して、Enterで追加"
          (keyup)="onKey($event)" (blur)="onBlur()" (focus)="onFocus()" />
      </ng-container>
      <ng-container *ngIf="!edithing">
        <p class="task inline-block">{{task.title}}</p>
      </ng-container>
    </div>

    <!-- その他 -->
    <ng-container *ngIf="!edithing">
      <!-- ユーザーアイコン -->
      <div class="user-area">
        <ky-icon class="icon inline-block" [icon]="icons.user_circle" [size]="'middle'"></ky-icon>
      </div>
      <!-- ステータスボタン -->
      <div class="custom-area">
        <ky-custom-radio class="inline-block" [buttons]="radioButtons"></ky-custom-radio>
      </div>

      <!-- スペース -->
      <div class="space"></div>
    </ng-container>
    <!-- 削除ボタン -->
    <div *ngIf="!edithing || nestedCount" class="end-area">
      <ky-icon class="icon inline-block" [color]="'red'" [icon]="icons.trash" (onClick)="onDeleteClick()"></ky-icon>
    </div>
  </div>
  <div *ngIf="showDetail" [@accordion]>
    <div #child cdkDropList (cdkDropListDropped)="drop($event)">
      <app-task-row *ngFor="let child of task.child; index as i" [task]="child" [nestedCount]="nestedCount + 1"
        (endEditRow)="addChildRow(i)" (deleteOnClick)="onChildDelete(i)" cdkDrag></app-task-row>
    </div>
  </div>
</div>