.row-frame {
  background-color: white;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));

  transition: 0.5s;
}
.row-frame:hover {
  background-color: rgb(211, 241, 255) ;
  transition: 0.5s;
}
.row-frame.edithing {
  background-color: rgb(255, 253, 226) ;
  transition: 0.5s;
}

.content-frame {
  display: flex;
  height: 3rem;
  margin-left: 1rem;
}

$width: 30rem;
.task-form {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 1rem;

  width: $width;
  max-width: $width;

  border: none;
  border-bottom: gray solid 1px;
}

.icon {
  margin: 0 1rem;
}

.task {
  margin: 0 1rem;
  border-bottom: 1px solid #999;
  width: $width;
}

/** flex size */
.icon-area {
  width: 3rem;
}

.task-area {
  flex: 1;
  width: 3rem;
}
.nest-area {
  margin-left: 1rem;
}
.nested {
  width: 1rem;
}