.row-frame {
  display: flex;
  margin-left: 1rem;
  height: 3rem;

  background-color: white;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
}
.content-frame {
  align-self: center;
}

$width: 30rem;
.task-form {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 1rem;

  width: $width;
  max-width: $width;

  border: none;
  border-bottom: gray solid 1px;
}

.left-icon {
  margin: 0 1rem;
}

.task {
  margin: 0 1rem;
  border-bottom: 1px solid #999;
  width: $width;
}