.row-frame {
  background-color: white;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
  
  cursor: grab;
  transition: 0.5s;
}
.row-frame:active {
  cursor: grabbing;
}

.row-frame:hover {
  background-color: rgb(211, 241, 255) ;
  transition: 0.5s;
}
.row-frame.edithing {
  cursor: auto !important;
  background-color: rgb(255, 253, 226) ;
  transition: 0.5s;
}

.content-frame {
  display: flex;
  min-height: 3rem;
}
div {
  align-self: center;
}

.task-form {
  background-color: rgba(0, 0, 0, 0);

  height: 90%;
  width: calc(100% - 1rem);
  max-width: calc(100% - 1rem);

  border: none;
}

.icon {
  margin: 0 1rem;
}

.task {
  font-size: 1.5rem;
  margin: 0 1rem;
  max-width: 100%;
}

/** flex size */
.icon-area {
  width: 3rem;
}

.task-area {
  flex: 1;
  width: 3rem;
}
.nest-area {
  margin-left: 1rem;
}
.nested {
  width: 1rem;
}