<div class="board-frame">
  <!-- タブ -->
  <ky-icon [icon]="icons.plus_circle" class="add-icon" (onClick)="addTab()"></ky-icon>
  <mat-tab-group #matTab class="inline-block" cdkDropList>
    <mat-tab *ngFor="let tab of tabs; index as i">
      <!-- タブヘッダー -->
      <ng-template mat-tab-label>
        <div cdkDropList [id]="'tab-' + i" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="getAllListConnections(i)">
          <div class="drag-box" cdkDrag>
            <div>{{ tab.title }}</div>
            <ky-icon [icon]="icons.task" class="add-icon"></ky-icon>
          </div>
        </div>
      </ng-template>
      <!-- タブコンテンツ -->
      <app-task-content [tab]="tab"></app-task-content>
    </mat-tab>
  </mat-tab-group>
</div>