.out-frame {
  display: flex;
  flex-direction: column;
  
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}
.vertical-frame {
  display: flex;
  overflow-x: auto;
}
.flex-one {
  flex: 1;
}

$margin: 0.5rem;
.task-out-frame {
  overflow-y: auto;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.6));
}

.task-frame {
  background-color: #f5f8fa;

  min-width: 100%;
  min-height: 100%;
}