.display-frame {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

$headerHeight: 5rem;
.header-frame {
  display: flex;
  height: $headerHeight;

  border-bottom: 1px solid #d3e0e9;
}

.body-frame {
  flex-grow: 1;
  
  height: calc(100% - #{$headerHeight});
  max-height: calc(100% - #{$headerHeight});
}

.title-label {
  color: #aaa;
  font-size: 2.2rem;
  margin-left: 1rem;

  align-self: center;
}