$transTime: 0.3s;

.radio-button {
  margin-left: 1rem;
  border-radius: 0.2rem;
  padding: 0.3rem 0.8rem;

  cursor: pointer;

  opacity: 0.5;
  transition: $transTime;
}

.radio-button.active {
  opacity: 1;
  transition: $transTime;
}