[class^="svg-inline"].pointer-icon {
  cursor: pointer;
}

/**
 * サイズ
 */
 $small: 1.5rem;
[class^="svg-inline"].small {
  width: $small;
  height: $small;
}

$middle: 2rem;
[class^="svg-inline"].middle {
  width: $middle;
  height: $middle;
}

$large: 3rem;
[class^="svg-inline"].large {
  width: $large;
  height: $large;
}

/**
 * カラーバリエーション
 */
[class^="svg-inline"].gray {
  color: #666;
}

[class^="svg-inline"].red {
  color: red;
}

/**
 * アクティブ時の挙動
 */
[class^="svg-inline"] {
  opacity: 0.5;
  transition: 0.2s;
}

[class^="svg-inline"]:hover {
  opacity: 0.8;
  transition: 0.2s;
}