[class^="svg-inline"].pointer-icon {
  cursor: pointer;
}

/**
 * サイズ
 */
 $small: 1.5rem;
[class^="svg-inline"].small {
  width: $small;
  height: $small;
}

$middle: 2rem;
[class^="svg-inline"].middle {
  width: $middle;
  height: $middle;
}

$large: 3rem;
[class^="svg-inline"].large {
  width: $large;
  height: $large;
}

/**
 * カラーバリエーション
 */
[class^="svg-inline"].gray {
  color: #666;
}

[class^="svg-inline"].red {
  color: red;
}

$transTime: 0.3s;
/**
 * アクティブ時の挙動
 */
[class^="svg-inline"] {
  opacity: 0.5;
  transform:rotate(0deg);
  transition: $transTime;
}

[class^="svg-inline"]:hover {
  opacity: 0.8;
  transition: $transTime;
}

[class^="svg-inline"].rotate_90 {
  transform:rotate(90deg);
  transition: $transTime;
}

[class^="svg-inline"].rotate_180 {
  transform:rotate(180deg);
  transition: $transTime;
}

[class^="svg-inline"].rotate_270 {
  transform:rotate(270deg);
  transition: $transTime;
}